In [1]:
type(1)

int

In [2]:
type(1.0)

float

In [4]:
type(3.14j)

complex

In [5]:
type('single quotation')
type("double")
type("single 'quotation' inside")

str

In [6]:
'hello'[0]

'h'

In [7]:
'hello'[1:3]

'el'

In [8]:
'hello {}'.format('world')

'hello world'

In [10]:
print('{one} {two}'.format(one='hello', two='world'))

hello world

### Lists

In [11]:
list_out = [1, 2, 'three']
print(list_out)

[1, 2, 'three']

In [12]:
list_in = ['one', 'two', 3]
list_out.append(list_in)
print(list_out)

[1, 2, 'three', ['one', 'two', 3]]

In [13]:
list_out[3][1]

'two'

In [14]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

### Dictionaries

In [17]:
dictionary = {'key1': 'value2', 'key2':2}
dictionary['key1']

'value2'

In [19]:
dictionary = {'key1':[1, 'value2', 3]}
dictionary['key1'][2]

3

In [21]:
dictionary = {'key_out':{'key_in':'value_in'}}
dictionary['key_out']

{'key_in': 'value_in'}

In [22]:
dictionary = {'key1':'value2', 'key2':2}
dictionary['key3'] = 'new_value'
dictionary

{'key1': 'value2', 'key2': 2, 'key3': 'new_value'}

In [24]:
tuple_a = (1, 2, 3)
list_a = [1,2,3]

In [25]:
tuple_a[1]

2

In [26]:
tuple_a[1] = 4

TypeError: 'tuple' object does not support item assignment